<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Bar Chart: Work Orders
                </div>
                <div class="card-block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>                
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Pie Chart: Machines Status
                </div>
                <div class="card-block">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'card-primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="12" [label]="'Parts Inventory Status!'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'card-success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Work Orders!'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'card-danger'" [icon]="'fa-support'" [count]="13" [label]="'Pending Payments!'"></app-stat>
            </div>
        </div>
</div>
