<div [@routerTransition]>
    <app-page-header [heading]="'Employee Detail'" [parent]="'Employees'" [link]="'/employees'" ></app-page-header>

    <div class="row">
        <div class="col-lg-7">
            <form role="form">
                <div class="form-group row">                    
                    <label class="col-3 col-form-label">First Name:</label>
                    <div class="col-6">
                        <input class="form-control" placeholder="Enter First Name">
                    </div>
                </div>
                <div class="form-group row">  
                    <label class="col-3 col-form-label">Last Name:</label>
                    <div class="col-6">
                        <input class="form-control" placeholder="Enter Last Name">
                    </div>
                </div>
                <div class="form-group row">  
                    <label class="col-3 col-form-label">Mobile No.:</label>
                    <div class="col-6">
                        <input class="form-control" placeholder="Enter Mobile Number">
                    </div>
                </div>
                <div class="form-group row">  
                    <label class="col-3 col-form-label">Email Address:</label>
                    <div class="col-6">
                        <input class="form-control" placeholder="Enter Email Address">
                    </div>
                </div>
                <div class="form-group row">  
                    <label class="col-3 col-form-label">Date of Birth:</label>
                    <div class="col-6">
                        <input class="form-control" type="Date" placeholder="Enter Date of birth">
                    </div>
                </div>
                <div class="form-group row">  
                    <label class="col-3 col-form-label">Address:</label>
                    <div class="col-6">
                        <textarea class="form-control" placeholder="Enter Address"></textarea>
                    </div>
                </div>
                <div class="form-group row">  
                    <label class="col-3 col-form-label">State:</label>
                    <div class="col-6">
                        <select class="form-control">
                            <option>Select State</option>
                            <option>Andaman and Nicobar Islands</option>
                            <option>Andhra Pradesh</option>
                            <option>Arunachal Pradesh</option>
                            <option>Assam</option>
                            <option>Bihar</option>
                            <option>Chandigarh</option>
                            <option>Chhattisgarh</option>
                            <option>Dadra and Nagar Haveli</option>
                            <option>Delhi</option>
                            <option>Goa</option>
                            <option>Gujarat</option>
                            <option>Haryana</option>
                            <option>Himachal Pradesh</option>
                            <option>Jammu and Kashmir</option>
                            <option>Jharkhand</option>
                            <option>Karnataka</option>
                            <option>Kerala</option>
                            <option>Madhya Pradesh</option>
                            <option>Maharashtra</option>
                            <option>Manipur</option>
                            <option>Meghalaya</option>
                            <option>Mizoram</option>
                            <option>Nagaland</option>
                            <option>Odisha</option>
                            <option>Puducherry</option>
                            <option>Punjab</option>
                            <option>Punjab</option>
                            <option>Rajasthan</option>
                            <option>Tamil Nadu</option>
                            <option>Telangana</option>
                            <option>Tripura</option> 
                            <option>Uttar Pradesh</option>
                            <option>Uttarakhand</option>
                            <option>West Bengal</option>   
                        </select>
                    </div>
                </div>
                <div class="form-group row">  
                    <label class="col-3 col-form-label">City:</label>
                    <div class="col-6">
                        <select class="form-control" placeholder="Enter Last Name">
                            <option>Select City</option>
                            
                        </select>
                    </div>
                </div>
                <div class="form-group row">  
                    <label class="col-3 col-form-label">Pin Code:</label>
                    <div class="col-6">
                        <input class="form-control" placeholder="Enter Pin Code">
                    </div>
                </div>
                <div class="row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit </button>
                        <button type="reset" class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>